services:
  web:
    build: .
    container_name: cookery-corner-web
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
    env_file:
      - .env
    networks:
      - shared-network

networks:
  shared-network:
    external: true  # Use existing network