services:
  web:
    build: .
    container_name: cookery-corner-web
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - shared-network

networks:
  shared-network:
    external: true  # Use existing network