table.menu

{
border-collapse:separate;
border: 1px solid black;
margin: 10px 10px 10px 20px;
}
table

{
border-collapse:collapse;
outline: 0px;
padding: 0px;
margin: 0px 0px 200px 00px;
}


td.menu

{
border: 1px solid black;
padding: 2.75px;
margin: 0px;
background-color:#008000;
vertical-align: middle;
}

/*home old*/

div.main

{
font-family: Trebuchet MS, Microsoft Sans Serif;
font-size: 0.95em;
line-height: 110%
}


table

{
border-collapse:collapse;
outline: 0px;
padding: 0px;
margin: 0px;
}

table.menu

{
border-collapse:separate;
border: 1px solid black;
}

table.links
{
display: block;
border-style: solid;
border-top-width:30px;
}


td
{
vertical-align:top;
}

td.menu

{
border: 1px solid black;
padding: 2.75px;
margin: 0px;
background-color:#008000;
vertical-align: middle;
}


div.homepage
{
}

div.title

{
background-color:#7ffffe;
padding: 10px;
margin-bottom:30px;
}




div.left

{
vertical-align:top;
left:9px;
position:absolute;
width:120px;
}

div.main
{
position:absolute;
vertical-align:top;
left:165px;
right:152px;
padding: 10px 30px 20px 30px;
margin:0px 0px 0px 0px;
}


div.right

{
position:absolute;
vertical-align:top;
text-align:right;
right:8px;
width:120px;
}

div.menu

{
display:block;
position:absolute;
vertical-align:top;
}


div.image


{
float:right;
vertical-align:top;
text-align:center;
margin: -15px 0px 10px 20px;
}


td.features

{
vertical-align:middle;
padding: 10px 20px 10px 0px;
font-size:1.125em;
}

img.updates
{
margin:30px 0px 0px 0px;
}

b.sub

{
font-size:1.25em
}

img.home

{
border:2px solid #0000ff;
}


.main h1, h2

{
margin: 0px;
border:0px;
padding: 10px 0px 12px 0px;
}
/*universal old*/

div.main

{
font-family: Trebuchet MS, Microsoft Sans Serif;
font-size: 0.95em;
line-height: 110%
}

table

{
border-collapse:collapse;
outline: 0px;
padding: 0px;
margin: 0px;
}

table.menu

{
border-collapse:separate;
border: 1px solid black;
}

table.links
{
display: block;
border-style: solid;
border-top-width:30px;
}


td
{
vertical-align:top;
}

td.menu

{
border: 1px solid black;
padding: 2.75px;
margin: 0px;
background-color:#008000;
vertical-align: middle;
}
/*home old*/

div.title

{
text-align: left;
}

div.banner

{
position:absolute;
right:15px;
top:17px;
left:1225px;
}


p.links

{
line-height: 120%;
text-align:center;
margin:0px;
border:0px;
padding:0px 0px 15px 0px;
}


p.intro

{
font-size:1.10em;
}

p.caption

{
line-height: 110%;
font-size: 0.8em;
font-weight:800;
padding:0px;
margin:5px 0px 0px 0px;
}

div.main h1, h2

{
margin: 0px;
border:0px;
padding: 5px 0px 10px 0px;
}

div.main h3

{
margin: 0px;
border:0px;
padding: 0px 0px 10px 0px;
}

img

{
border: none; 
vertical-align: middle;
}

img.updates
{
margin:30px 0px 0px 0px;
}

img.social

{
border: 1px solid black;
margin:0px 20px 10px 0px;
}

img.banner

{
float:right;
overflow:hidden;
padding: 5px 0px 0px 0px;
left:500px;
}

hr.end
{
clear:both;
}


