/*MAIN LAYOUT*/

body	{	
background-image: url(/assets/backgrounds/desk.jpeg);
color:#3f3f3f;
}
#blog-content, #history	{
background-image: url(/assets/backgrounds/linedpaper.jpeg);
}
#blog-container	{
    display:flex;
    background-image: url(/assets/backgrounds/greenleather.jpeg);
    margin-bottom: 17px;
    border-radius: 20px;
    padding: 14px;
}
.title	{
    background-image: url(/assets/backgrounds/blogstripe.bmp);
    padding: 0;
    padding-right:10px;
    margin-bottom:10px;
    border-radius: 6px;
}
.right	{
margin:0;
}
.main	{
padding: 0 30px 20px 30px;
margin-top:10px;
border-radius: 6px;
}

/*HISTORY SECTION*/

#history {
    display:flex;
    justify-content:center;
    height:100%;
    margin: 20px 45px 20px 0;
}
#history-text {
    min-width:275px;
    max-width:275px;
    margin: 17px;
    padding: 0;
}
#history-text h2 {
    text-align:center;
}
#history a	{
    color:#1f517c;
}
#history a:hover	{
    color:#123656;
}

/*BLOG CONTENT*/

#blog-content	{
    height:100%;
    flex:1;
    overflow:hidden;
    padding:15px 25px;
    margin:20px 45px;
}
.blogimgright	{
    float:right;
    vertical-align:top;
    text-align:center;
    margin: 9px 0 15px 15px;
}
.blogentry	{
    margin-bottom:25px;
    padding: 0;
}
h3.user {
font-style: italic;
font-size:125%;
line-height:120%;
color: #1f517c
}
#blog-content a	{
text-decoration: none;
color:#1f517c;
}
#blog-content a:hover {
color:#123656;
}
#blog-content h1 {
font-size:200%;
line-height:100%;
}
ul {
list-style:none;
}

/*SOCIAL AND KEYWORDS*/

#bottom-article {
    display:flex;
    flex-flow:row;
    justify-content: space-between;
    color:#123656;
}
#blog-keywords img {
    margin-right:10px;
}
#blog-social img {
    margin-left:10px;
}
#bottom-article a {
    text-decoration: none;
}
#blog-divider {
    display:none;
    width: 50%;
}


/*HISTORY FORMATTING */
ul.years a, ul.months a{
text-decoration:none;
}

ul.articles a {
text-decoration: underline;
}

ul.years {
text-align:left;
}
ul.months {
text-align:left;
margin-left:20px;
}
ul.articles {
text-align:left;
margin-left: 40px;
}
li.hidden {
display: none;
}
li.year {
font-size:150%;
line-height:120%;
}
li.month {
font-size:91%;
line-height:118%;
color: #5A5A5A;
}
li.article {
font-size:70%;
line-height:112%;
}



/*MOBILE FORMATTING*/

@media screen and (max-width: 1200px) {
    #blog-container {
        flex-flow:column-reverse;
        flex-wrap:wrap;
    }
    #blog-content, #history {
        margin:20px 63px;
    }
    #history {
        padding: 0 150px;
    }
}

@media screen and (max-width: 1228px) {
    .section-banner{
        margin:10px 0;
    }
}

@media screen and (max-width: 960px) {
    #blog-container {
        margin:10px 10px;
    }
}

@media screen and (max-width: 891px) {
    #blog-content {
        display:flex;
        align-items:center;
        flex-flow:column-reverse;
    }
    .blogimgright {
        display:block;
        width:100%;
        margin: 10px 0;
    }
    .blogimgright img {
        width:75%;
    }
    #history {
        padding: 0 75px;
    }
    
    
}

@media screen and (max-width: 705px) {
    .blogimgright img {
        width:100%;
    }
    #history {
        padding: 0 25px;
    }
    #bottom-article {
        flex-flow:column;
        align-items:center;
    }
    #blog-divider {
        display:block;
    }
    
}

@media screen and (max-width: 600px) {
    .title {
        padding: 0 10px;
    }
    .main	{
        padding: 0;
    }
    #blog-content, #history {
        margin:20px;
    }
    #blog-container {
        margin:10px 0;
    }
    .introbar ul	{
        column-count:3;
        column-gap:0;
        height:33px;
    }
}
@media screen and (max-width: 436px) {
    #history {
        padding: 0;
    }
    #blog-content, #history {
        margin:10px;
    }
    #history-text {
        margin:10px;
    }
    #blog-keywords img {
        display:none;
    }
}

@media screen and (max-width: 359px) {
    #blog-content, #history {
        margin:10px 0;
    }
    #history-text {
        min-width:250px;
    }
}
