/*MAIN FORMATTING*/

body	{
background-image: url(/assets/backgrounds/brown.png);
color:#999997;
}

#intro-section, .recommends, .latest, .section, .footer	{
background-image: url(/assets/backgrounds/wall.png);
}
.section, #intro-section, #login-container, .recommends, div.latest	{
border-color:#D4AF37;
border-radius:20px;
border-style: ridge;
}
.title	{
background-color:#7ffffe;
padding: 10px;
margin-bottom:10px;
}
.main	{
vertical-align:top;
padding: 0px 0px 20px 0px;
margin:0;
border-radius: 6px;
}

#home-container	{
display:flex;
flex-flow:row;
margin: 0px 0px 17px 0px;
border-radius: 20px;
padding: 0;
}



.main a, .footer a	{
text-decoration: none;
color:#EFFD5F;
}
.main a:hover, .footer a:hover	{
color:#123656;
}
h1, h2	{
margin: 0;
border:0;
padding: 10px 0px 12px 0px;
}
h3	{
margin: 0;
border:0;
padding: 0px 0px 10px 0px;
}

/*SECTION OVERVIEW*/

#section-container	{
    display: flex;
    flex-flow:column;
    text-align:center;
    margin: 10px 0 0 0;
    height:100%;   
}

.section	{
border-style: ridge;
margin:0 10px 15px 15px;
padding: 10px;
width:275px;
}

/*TITLE AND LOGIN*/
#content-container {
    overflow:hidden;
    flex:1;
}
#intro-section {
    display:flex;
    flex-flow:row;
    justify-content:space-between;
    overflow:hidden;
    margin: 10px;
    padding: 10px;
}
#login-container {
    background-color: #180317;
    float:right;
    vertical-align:top;
    text-align:center;
    margin: 5px 5px 5px 15px;
    padding:7px;
    min-width:290px;
    height:100%;
}
.form li {
    display:block;
    margin-bottom:10px;
}
#email {
    position:absolute;
    left:-2000px;
}
#realone {
    margin-left:19px;
}

/*RECOMMENDS SECTION*/

.recommends	{
margin: 10px;
padding: 10px;
}

/*LATEST SECTION*/

.latest	{
overflow: auto;
margin: 10px;
padding: 10px;
}

.latest img	{
border: 2px solid #ddd;
border-radius: 4px;
}

.latest table {
    margin-left:-10px;
    border-spacing:10px;
}

/*FOOTER*/

.footer	{
overflow:hidden;
margin: 0;
padding: 0;
}
.footseg1	{
text-align:right;
margin: 20px 0px 0px 0px;
padding: 0 20px;
}
.footseg2	{
float:left;
margin: -5px 0px 0px 0px;
padding: 0 20px;
}

/*MOBILE FORMATTING*/

@media screen and (max-width: 1100px) {

div.sectioncont, div.contentcont	{
width:100%;
}
}







