/*MAIN LAYOUT*/

div.title	{
background-image: url(/assets/backgrounds/blogstripe.bmp);
padding: 0px;
margin-bottom:10px;
border-radius: 6px 6px 6px 6px;
}
div.banner {
margin:15px 10px 0px 0px;
}
div.right	{
margin:0px 0px 0px 0px;
}
div.main	{
padding: 0px 30px 20px 30px;
margin:10px 0px 0px 0px;
border-radius: 6px 6px 6px 6px;
}
div.container	{
overflow:hidden;
margin: 0px 0px 17px 0px;
border-radius: 20px 20px 20px 20px;
padding: 14px 14px 14px 14px;
}
div.blogcont	{
overflow:hidden;
padding:15px 25px 15px 25px;
margin:20px 375px 20px 45px;
}
div.blogentry	{
margin: 0px 0px 25px 0px;
padding: 0px 0px 0px 0px;
}
div.blogcont a	{
text-decoration: none;
color:#1f517c;
}
div.blogcont a:hover	{
color:#123656;
}

/*HISTORY SECTION*/

div.history	{
float:right;
vertical-align:top;
margin: 17px 45px 20px 0px;
width:275px;
}
div.historytext	{
margin: 17px;
padding: 0px 0px 0px 0px;
}
div.history a	{
color:#1f517c;
}
div.history a:hover	{
color:#123656;
}

/*LIVEBLOG INTRO*/

div.blogimgright	{
float:right;
vertical-align:top;
text-align:center;
margin: 9px 0px 15px 15px;
}
h3.user {
font-style: italic;
font-size:1.25em;
color: #1f517c
}
ul.contact {
margin:0px 0px 20px 0px;
padding:0px;
list-style:none;
float: left;
height:41px;
}
ul.contact li	{
float: left;
}
#contacttext	{
margin:10px 0px 0px 15px;
}

/*SOCIAL AND KEYWORDS*/
ul {
list-style:none;
}

ul.introbar	{
margin:0px 0px 0px 0px;
padding:0px;

float: left;
height:33px;
}
ul.introbar li	{
float: left;
}
ul.introbar a	{
text-decoration: none;
color:#123656;
}
ul.introbar a:hover	{
color:#1f517c;
}
#keywords	{
margin:3px 7px 0px 10px;
color: #1f517c;
}
#logkey	{
margin:0px 3px 5px 5px;
}
#facebook	{
margin:0px 10px 2px 50px;
}
#insta	{
margin:0px 10px 3px 0px;
}
#twitter	{
margin:2px 10px 0px 0px;
}

/*LIVEBLOG ENTRIES*/

div.segment	{
overflow:hidden;
min-height: 130px;
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
}
div.segmentimage	{
vertical-align:top;
float:right;
text-align:left;
margin: 10px 0px 10px 15px;
}
div.linethin	{
width:100%;
background:url(/assets/images/linethin.png) repeat-x;
height:2px;
}
div.blogline	{
width:90%;
background:url(/assets/menu/rowlandimg.bmp) repeat-x;
height:45px;
}
p.time	{
font-weight:bold;
}


/*HISTORY FORMATTING */

ul.years a, ul.months a{
text-decoration:none;
}

ul.articles a {
text-decoration: underline;
}

ul.years {
text-align:left;
margin:0px 0px 0px -40px;
padding:0px, 0px, 0px, 0px;
}
ul.months {
text-align:left;
margin:0px 0px 0px -20px;
padding:0px, 0px, 0px, 0px;
}
ul.articles {
text-align:left;
margin:0px 0px 0px 0px;
padding:10px, 10px, 10px, 10px;
}
li.hidden {
display: none;
}
li.year {
font-size:1.5em;
line-height:120%;
}
li.month {
font-size:0.91em;
line-height:118%;
color: #5A5A5A;
}
li.article {
font-size:0.7em;
line-height:112%;
}

/*MOBILE FORMATTING*/

@media screen and (max-width: 1100px) {

div.history	{
width:85%;
}
div.blogcont	{
width:85%;
}
}
