/*MAIN LAYOUT*/

.title	{
    background-image: url(/assets/backgrounds/blogstripe.bmp);
    padding: 0;
    padding-right:10px;
    margin-bottom:10px;
    border-radius: 6px;
}
.right	{
    margin:0;
}
.main	{
    padding: 0 30px 20px 30px;
    margin-top:10px;
    border-radius: 6px;
}
#liveblog-container	{
    display:flex;
    margin-bottom: 17px;
    border-radius: 20px;
    padding: 14px;
}
#content-container {
    display:flex;
    flex-flow:column;
    height:100%;
    flex:1;
    margin:0;
    padding:0;
}
.blogcont {
    flex:1;
    overflow:hidden;
    padding:15px 25px;
    margin:20px 45px;
}
.blogentry {
    margin: 0;
    padding: 0;
}
.user a, .contact a	{
    text-decoration: none;
}


/*HISTORY SECTION*/

#history {
    display:flex;
    justify-content:center;
    height:100%;
    margin: 20px 45px 20px 0;
}
#history-text {
    min-width:275px;
    max-width:275px;
    margin: 17px;
    padding: 0;
}
#history-text h2 {
    text-align:center;
}

/*LIVEBLOG INTRO*/

.blogimgright	{
    float:right;
    text-align:center;
    margin: 9px 0 15px 15px;
}
.user {
    font-style: italic;
    font-size:125%;
    line-height:120%;
}
.contact {
    margin-bottom:20px;
    padding:0;
    float: left;
    height:41px;
}
.contact li	{
    float: left;
}
#contacttext	{
    margin:10px 0 0 15px;
}

/*SOCIAL AND KEYWORDS*/
#bottom-article {
    display:flex;
    flex-flow:row;
    justify-content: space-between;
    color:#123656;
}
#blog-keywords img {
    margin-right:10px;
}
#blog-social img {
    margin-left:10px;
}
#bottom-article a {
    text-decoration: none;
}
#blog-divider {
    display:none;
    width: 50%;
}

/*LIVEBLOG ENTRIES*/
.segment {
    width:100%;
    overflow:hidden;
    min-height: 130px;
    padding: 0;
    margin: 0;
}
.segment .blogimgright {
    margin-top:-33px;
}
.linethin {
    width:100%;
    background:url(/assets/images/linethin.png) repeat-x;
    height:2px;
}
.blogline {
    width:90%;
    background:url(/assets/menu/rowlandimg.bmp) repeat-x;
    height:45px;
}
.time {
font-weight:bold;
}


/*HISTORY FORMATTING */
.years a, .months a {
    text-decoration:none;
}
.articles a {
    text-decoration: underline;
}
.years {
    text-align:left;
}
.months {
    text-align:left;
    margin-left:20px;
}
.articles {
    text-align:left;
    margin-left: 40px;
}
.hidden {
    display: none;
}
.year {
    font-size:150%;
    line-height:120%;
}
.month {
    font-size:91%;
    line-height:118%;
}
.article {
    font-size:70%;
    line-height:112%;
}

/*MOBILE FORMATTING*/
@media screen and (max-width: 1200px) {
    #liveblog-container {
        flex-flow:column-reverse;
        flex-wrap:wrap;
    }
    .blogcont, #history {
        margin:20px 63px;
    }
    #history {
        padding: 0 150px;
    }
}
@media screen and (max-width: 1228px) {
    .section-banner{
        margin:10px 0;
    }
}
@media screen and (max-width: 960px) {
    #liveblog-container {
        margin:10px 10px;
    }
}
@media screen and (max-width: 891px) {
    .blogcont {
        display:flex;
        align-items:center;
        flex-flow:column-reverse;
    }
    .blogimgright {
        display:block;
        width:100%;
        margin: 10px 0;
    }
    .blogimgright img {
        width:75%;
    }
    #history {
        padding: 0 75px;
    }
    #bottom-article {
        flex-flow:column;
        align-items:center;
    }
    #blog-divider {
        display:block;
    }
    .segment {
        text-align:center;
    }
    .segment .blogimgright	{
        margin:0 0 15px 0;
    }
}
@media screen and (max-width: 705px) {
    .blogimgright img {
        width:100%;
    }
    #history {
        padding: 0 25px;
    }
    #blog-keywords img {
        display:none;
    }
}
@media screen and (max-width: 600px) {
    .title {
        padding: 0 10px;
    }
    .main	{
        padding: 0;
    }
    .blogcont, #history {
        margin:20px;
    }
    #liveblog-container {
        margin:10px 0;
    }
}
@media screen and (max-width: 436px) {
    #history {
        padding: 0;
    }
    .blogcont, #history {
        margin:10px;
    }
    #history-text {
        margin:10px;
    }
}
@media screen and (max-width: 359px) {
    .blogcont, #history {
        margin:10px 0;
    }
    #history-text {
        min-width:250px;
    }
}
@media screen and (max-width: 330px) {
    #contact img {
        width:50px;
    }
}