/*MAIN LAYOUT*/

.title	{
    background-image: url(/assets/backgrounds/blogstripe.bmp);
    padding: 0;
    padding-right:10px;
    margin-bottom:10px;
    border-radius: 6px;
}
.right	{
    margin:0px 0px 0px 0px;
}
.main	{
padding: 0px 30px 20px 30px;
margin:10px 0px 0px 0px;
border-radius: 6px 6px 6px 6px;
}
#liveblog-container	{
display:flex;
margin-bottom: 17px;
border-radius: 20px;
padding: 14px;
}
#content-container {
    display:flex;
    flex-flow:column;
    height:100%;
    flex:1;
    margin:0;
    padding:0;
}
.blogcont {
    flex:1;
    overflow:hidden;
    padding:15px 25px;
    margin:20px 45px;
}
.blogentry {
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}
.blogcont a	{
text-decoration: none;
color:#1f517c;
}
.blogcont a:hover	{
color:#123656;
}

/*HISTORY SECTION*/

#history {
    display:flex;
    justify-content:center;
    height:100%;
    margin: 20px 45px 20px 0;
}
#history-text {
    min-width:275px;
    max-width:275px;
    margin: 17px;
    padding: 0;
}
#history-text h2 {
    text-align:center;
}
#history a	{
    color:#1f517c;
}
#history a:hover	{
    color:#123656;
}

/*LIVEBLOG INTRO*/

.blogimgright	{
    float:right;
    vertical-align:top;
    text-align:center;
    margin: 9px 0 15px 15px;
}
h3.user {
    font-style: italic;
    font-size:125%;
    line-height:120%;
    color: #1f517c;
}
ul.contact {
margin:0px 0px 20px 0px;
padding:0px;
list-style:none;
float: left;
height:41px;
}
ul.contact li	{
float: left;
}
#contacttext	{
margin:10px 0px 0px 15px;
}

/*SOCIAL AND KEYWORDS*/
#bottom-article {
    display:flex;
    flex-flow:row;
    justify-content: space-between;
    color:#123656;
}
#blog-keywords img {
    margin-right:10px;
}
#blog-social img {
    margin-left:10px;
}
#bottom-article a {
    text-decoration: none;
}
#blog-divider {
    display:none;
    width: 50%;
}

/*LIVEBLOG ENTRIES*/

.segment	{
width:100%;
overflow:hidden;
min-height: 130px;
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
}
.segment .blogimgright	{
    margin-top:-33px;
}
div.linethin	{
width:100%;
background:url(/assets/images/linethin.png) repeat-x;
height:2px;
}
div.blogline	{
width:90%;
background:url(/assets/menu/rowlandimg.bmp) repeat-x;
height:45px;
}
p.time	{
font-weight:bold;
}


/*HISTORY FORMATTING */

ul.years a, ul.months a{
    text-decoration:none;
}
ul.articles a {
    text-decoration: underline;
}
ul.years {
    text-align:left;
}
ul.months {
    text-align:left;
    margin-left:20px;
}
ul.articles {
    text-align:left;
    margin-left: 40px;
}
li.hidden {
    display: none;
}
li.year {
    font-size:150%;
    line-height:120%;
}
li.month {
    font-size:91%;
    line-height:118%;
}
li.article {
    font-size:70%;
    line-height:112%;
}

/*MOBILE FORMATTING*/

@media screen and (max-width: 1200px) {
#liveblog-container {
    flex-flow:column-reverse;
    flex-wrap:wrap;
}
.blogcont, #history {
    margin:20px 63px;
}
#history {
    padding: 0 150px;
}
}
@media screen and (max-width: 1228px) {
.section-banner{
    margin:10px 0;
}
}

@media screen and (max-width: 960px) {
#liveblog-container {
    margin:10px 10px;
}
}
@media screen and (max-width: 891px) {
.blogcont {
    display:flex;
    align-items:center;
    flex-flow:column-reverse;
}
.blogimgright {
    display:block;
    width:100%;
    margin: 10px 0;
}
.blogimgright img {
    width:75%;
}
#history {
    padding: 0 75px;
}
#bottom-article {
    flex-flow:column;
    align-items:center;
}
#blog-divider {
    display:block;
}
.segment {
    text-align:center;
}
.segment .blogimgright	{
    margin:0 0 15px 0;
}
}
@media screen and (max-width: 705px) {
.blogimgright img {
    width:100%;
}
#history {
    padding: 0 25px;
}
#blog-keywords img {
    display:none;
} 
}
@media screen and (max-width: 600px) {
.title {
    padding: 0 10px;
}
.main	{
    padding: 0;
}
.blogcont, #history {
    margin:20px;
}
#liveblog-container {
    margin:10px 0;
}
}
@media screen and (max-width: 436px) {
#history {
    padding: 0;
}
.blogcont, #history {
    margin:10px;
}
#history-text {
    margin:10px;
}
}
@media screen and (max-width: 359px) {
.blogcont, #history {
    margin:10px 0;
}
#history-text {
    min-width:250px;
}
}

@media screen and (max-width: 330px) {
#contact img {
    width:50px;
}

}