/*UNIVERSAL FORMATTING */
body {
    background-image:url(/assets/backgrounds/wood.jpeg);
    color:#3f3f3f;
}
.content, .ing, .introtext, .author, .general {
    background-image:url(/assets/backgrounds/tea.jpg);
}
.profile img, .imgright img, .mainimage img {
    width:291px;
}
.maingen, .general, .gentext, .imgright,.mainaut, .author, .profile, .main,
.mainimage, .intro, .introtext, .segment, .ing, .content, .first, .leftres {
    border-radius:6px;
}
.title {
    background-color:#808080;
    padding: 10px;
    margin-bottom:10px;
}

/*GENERAL PAGES*/
.page {
margin-bottom: 100px;
}
.maingen {
    vertical-align:top;
    padding:0;
    margin-bottom:5px;
    overflow: hidden;
}
.general {
    margin: 10px 0 17px 0;
    padding: 14px;
    overflow: hidden;
}
.gentext {
    padding: 0;
    margin:0;
}
.imgright {
    float:right;
    text-align:center;    
    margin:20px;
    margin-top:-30px;
}
.imgright img {
    border-style: ridge;
    border-color: black;
    padding:5px;
    border-radius:5px;
}
#recipe-search {
    display:inline;
    margin-right:5px;
}

/*AUTHOR PAGE*/
.mainaut {
    padding:0;
    margin-bottom:5px;
    overflow: hidden;
}
.author	{
    margin: 10px 0 18px 0;
    padding: 8px;
    overflow: hidden;
}
.profile {
    float:left;
    text-align:center;
    margin: 7px 13px 9px 5px;
    padding: 8px 8px 10px 8px;
    width:350px;
    border-style: inset;
    border-color: black;
}
.autext	{
    overflow: hidden;
    padding: 8px 8px 5px 8px;
    margin: 6px 9px 0 9px;
}
#author-divider {
    display:none;
}

/*RECIPE PAGE*/
.intro, .segment {
    background-image: url(/assets/backgrounds/slate.jpeg);
}
.main {
    padding: 0;
    margin:0 0 5px 0;
    overflow: hidden;
}
.mainimage {
    float:left;
    text-align:center;
    margin: 7px 16px 9px 5px;
    width:300px
}
.intro {
    margin: 10px 0 20px 0;
    padding: 8px;
    overflow: hidden;
}
.introtext {
    overflow: hidden;
    padding: 8px 8px 5px 8px;
    margin: 7px 9px 8px 9px;
}
.segment {
    margin: 20px 0;
    padding: 8px;
    clear:both;
    overflow: hidden;
}
.ing {
    float:left;
    padding: 10px;
    margin: 7px 19px 7px 9px;
    width:273px;
}
.content {
    overflow: hidden;
    padding: 8px;
    margin: 7px 8px 7px 143px;
}
.ing p {
    margin:1px 0;
    font-size:100%;
}
.content p {
    margin:6px 0;
    font-size:100%;
}
.user {
    font-style: italic;
    font-size:125%;
    color: #1f517c;
}
.second p {
    font-size:100%;
    margin:6px 0;
}
.second b {
    font-size:110%;
}
.ing a, .introbar a	{
    text-decoration: none;
    color:#123656;
}
.ing a:hover, .introbar a:hover	{
    color:#1f517c;
}
.auth	{
    text-decoration: none;
    color:#1f517c;
}
.auth:hover {
    text-decoration: none;
    color:#1b3c59;
}

/*upper links section*/
.introbar {
    float: left;
    height:33px;
}
.introbar li {
    float: left;
}
#serves, #complexity, #category, #cuisine {
    margin:3px 10px 0 0;
}
#logserv, #logcomp {
    margin:0 7px 0 10px;
}
#logcuis {
    margin:2px 7px 0 10px;
}
#logcat	{
    margin:0 7px 3px 10px;
}
#facebook {
    margin:0 10px 2px 50px;
}
#insta {
    margin:0 10px 3px 0px;
}
#twitter {
    margin:2px 10px 0 0;
}

/*ratings section*/
.review	{	
    float: left;
    height:35px;
}
ul.review li {
    float: left;
}
#user, #rowland	{
    margin:6px 5px 0 0;
}
#userrat, #rowrat {
margin:6px 25px 0 0;
}

/*RECIPE LISTINGS*/
.search	{
    margin-top: 9px;
    padding: 0;
    overflow: hidden;
}
.leftres, .divbar, .navbar, .divbarempty {
    background-image: url(/assets/backgrounds/blackboard.jpeg);
    font-family: tuck;
}
.divbar p, .divbarempty p {
    margin: 0;
    padding: 0;
}
.divbar, .navbar {
    margin: 0;
    padding: 0 15px;
    font-size:300%;
    border-radius: 10px;
    line-height: 50px;
    height:55px;
}
.divbar {
    color:#EEEEEE;
}
.navbar {
    color: #598baf;
}
.navbar a {
    text-decoration: none;
    color:#Eeeeee;
}
.navbar a:hover	{
    color: #90B0C4;
}
.divbarempty {
    margin-bottom: 18px;
    padding: 0 15px;
    background-color: #0f1f42;
    color:#EEEEEE;
    font-size:300%;
    border-radius: 10px;
    line-height: 55px;
    height:55px;
}
.first {
    display:flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 8px;
    overflow: hidden;
}
.leftres {
    padding: 12px;
    margin: 10px 15px;
    width:290px;
    height:320px;
    text-align:center;
}
.first p {
    margin:6px 0;
    font-size:150%;
    color: #383838;
    line-height:1;
}
.leftres a {
    text-decoration: none;
    color:#Eeeeee;
    font-size:200%;
    margin: 0;
    padding: 18px 0;
    line-height: 1;
}
.leftres a:hover {
    color: #90B0C4;
}
.leftres p {
    color: #eeeeee;
}
.leftres-image {
    margin:8px auto 0 auto;
    width:250px;
    height:200px;
}
.leftres-image img {
    object-fit:cover;
}

/*MOBILE FORMATTING*/

@media screen and (max-width: 1100px) {

div.mainimage	{
width:90%;
margin: 7px 13px 9px 35px;
}
div.introtext	{
width:92%;
margin: 6px 0px 8px 25px;
}
div.ing	{
text-align:center;
width:90%;
margin: 8px 19px 30px 25px;
}
div.content	{
width:90%;
margin: 8px 8px 8px 30px;
}
}

@media screen and (max-width: 960px) {
    .divbar, .navbar {
        text-align:center;
    }
    .first {
        justify-content:center;
    }
    .autext #recipe-search {
        display:block;
        margin-bottom:5px;
    }
}
@media screen and (max-width: 870px) {
    .right {
        display:none;
    }
}
@media screen and (max-width: 724px) {
    /*AUTHOR PAGE*/
    .profile {
        float:none;
        margin:20px auto;
    }
    .autext, .general {
        text-align:center;
    }
    #author-divider {
        display:block;
    }
    #recipe-search {
        display:inline;
        margin-bottom:0;
    }
    .imgright {
        float:none;
        display:block;
        margin-top:10px;
    }
}
@media screen and (max-width: 570px) {
    .divbar {
        display:flex;
        height: 110px;
        align-items:center;
        justify-content:center;
    }
}
@media screen and (max-width: 434px) {
    /*GENERAL PAGES*/
    .imgright {
        width:90%;
    }
    .imgright img {
        width:90%;
    }

    /*AUTHOR PAGE*/
    .profile {
        width:90%;
    }
    .profile img {
        width:90%;
    }
    #recipe-search {
        display:block;
        margin-bottom:5px;
    }
}
