/*UNIVERSAL FORMATTING */
body {
    background-image:url(/assets/backgrounds/wood.jpeg);
    color:#3f3f3f;
}
.content, .ing, .introtext, .author, .general {
    background-image:url(/assets/backgrounds/tea.jpg);
}
.profile img {
    width:291px;
}
.mainimage img, .imgright img {
    width: 350px;
}
.maingen, .general, .gentext, .imgright,.mainaut, .author, .profile, .main,
.mainimage, .intro, .introtext, .segment, .ing, .content, .first, .leftres {
    border-radius:6px;
}
.title {
    background-color:#808080;
    padding: 10px;
    margin-bottom:10px;
}

/*GENERAL PAGES*/
.page {
margin-bottom: 100px;
}
.maingen {
    padding:0;
    margin-bottom:5px;
    overflow: hidden;
}
.general {
    margin: 10px 0 17px 0;
    padding: 14px;
    overflow: hidden;
}
.gentext {
    padding: 0;
    margin:0;
}
.imgright {
    float:right;
    text-align:center;    
    margin:20px;
    margin-top:-30px;
}
.imgright img {
    border-style: ridge;
    border-color: black;
    padding:5px;
    border-radius:5px;
}
#recipe-search {
    display:inline;
    margin-right:5px;
}

/*AUTHOR PAGE*/
.mainaut {
    padding:0;
    margin-bottom:5px;
    overflow: hidden;
}
.author	{
    margin: 10px 0 18px 0;
    padding: 8px;
    overflow: hidden;
}
.profile {
    float:left;
    text-align:center;
    margin: 7px 13px 9px 5px;
    padding: 8px 8px 10px 8px;
    width:350px;
    border-style: inset;
    border-color: black;
}
.autext	{
    overflow: hidden;
    padding: 8px 8px 5px 8px;
    margin: 6px 9px 0 9px;
}
#author-divider {
    display:none;
}

/*RECIPE PAGE*/
.intro, .segment {
    background-image: url(/assets/backgrounds/slate.jpeg);
}
.main {
    padding: 0;
    margin:0 0 5px 0;
    overflow: hidden;
}
.mainimage {
    float:left;
    text-align:center;
    margin: 7px 18px 9px 10px;
}
#mobile-image {
    display:none;
}
.intro {
    margin: 10px 0 20px 0;
    padding: 8px;
    overflow: hidden;
}
.introtext {
    font-size: 110%;
    line-height:125%;
    overflow: hidden;
    padding: 8px 8px 5px 8px;
    margin: 7px 9px 8px 9px;
}
.segment {
    margin: 20px 0;
    padding: 8px;
}
.ing {
    float:left;
    padding: 10px;
    margin: 7px 19px 7px 9px;
    width:273px;
}
.content {
    overflow: hidden;
    padding: 8px;
    margin: 7px 8px 7px 143px;
}
.ing p {
    margin:1px 0;
    font-size:105%;
}
.content p {
    margin:6px 0;
    font-size:105%;
}
.user {
    font-style: italic;
    font-size:125%;
    color: #1f517c;
}
.second p {
    font-size:100%;
    margin:6px 0;
}
.second b {
    font-size:110%;
}
.ing a, #recipe-links a	{
    text-decoration: none;
    color:#123656;
}
.ing a:hover, #recipe-links a:hover	{
    color:#1f517c;
}
.auth	{
    text-decoration: none;
    color:#1f517c;
}
.auth:hover {
    text-decoration: none;
    color:#1b3c59;
}

/*upper links section*/
#recipe-links {
    display:flex;
    justify-content: space-between;
    margin:0;
    padding:0;
}
#recipe-sections {
    display:flex;
}
#recipe-sections a {
    margin-left:3px;
    margin-right:15px;
}
#recipe-social img {
    margin-left: 5px;
}
#social-divider {
    display:none;
}
#user-rating, #rowland-rating {
    display:inline-block;
}
#user-rating {
    margin-right:50px;
}

/*RECIPE LISTINGS*/
.search	{
    margin-top: 9px;
    padding: 0;
    overflow: hidden;
}
.leftres, .divbar, .navbar, .divbarempty {
    background-image: url(/assets/backgrounds/blackboard.jpeg);
    font-family: tuck;
}
.divbar p, .divbarempty p {
    margin: 0;
    padding: 0;
}
.divbar, .navbar {
    margin: 0;
    padding: 0 15px;
    font-size:300%;
    border-radius: 10px;
    line-height: 50px;
    height:55px;
}
.divbar {
    color:#EEEEEE;
}
.navbar {
    color: #598baf;
}
.navbar a {
    text-decoration: none;
    color:#Eeeeee;
}
.navbar a:hover	{
    color: #90B0C4;
}
.divbarempty {
    margin-bottom: 18px;
    padding: 0 15px;
    background-color: #0f1f42;
    color:#EEEEEE;
    font-size:300%;
    border-radius: 10px;
    line-height: 55px;
    height:55px;
}
.first {
    display:flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 8px;
    overflow: hidden;
}
.leftres {
    padding: 12px;
    margin: 10px 15px;
    width:290px;
    height:320px;
    text-align:center;
}
.first p {
    margin:6px 0;
    font-size:150%;
    color: #383838;
    line-height:1;
}
.leftres a {
    text-decoration: none;
    color:#Eeeeee;
    font-size:200%;
    margin: 0;
    padding: 18px 0;
    line-height: 1;
}
.leftres a:hover {
    color: #90B0C4;
}
.leftres p {
    color: #eeeeee;
}
.leftres-image {
    margin:8px auto 0 auto;
    width:250px;
    height:200px;
}
.leftres-image img {
    object-fit:cover;
}

/*MOBILE FORMATTING*/

@media screen and (max-width: 1200px) {
    #desktop-image {
        display:none;
    }
    #mobile-image {
        display:block;
    }
    .mainimage img{
        width:291px;
    }
}
@media screen and (max-width: 960px) {
    .divbar, .navbar {
        text-align:center;
    }
    .first {
        justify-content:center;
    }
    .autext #recipe-search {
        display:block;
        margin-bottom:5px;
    }
}
@media screen and (max-width: 870px) {
    .right {
        display:none;
    }
}
@media screen and (max-width: 800px) {
    .ing {
        float:none;
        margin:10px;
        width:auto;
        text-align:center;
    }
    .content {
        margin:10px;
        margin-top:20px;
        width:auto;
    }
    .ing p, .content p, .introtext {
        font-size:100%;
        line-height:100%;
    }
}
@media screen and (max-width: 724px) {
    /*AUTHOR PAGE*/
    .profile {
        float:none;
        margin:20px auto;
    }
    .autext, .general {
        text-align:center;
    }
    #author-divider {
        display:block;
    }
    #recipe-search {
        display:inline;
        margin-bottom:0;
    }
    .imgright {
        float:none;
        display:block;
        margin-top:10px;
    }
    /*RECIPE PAGE*/
    .intro {
        text-align:center;
    }  
    #recipe-links {
        flex-direction: column;
        text-align:center;
        align-items:center;
    }
    #social-divider {
        display:block;
        width:50%;
    }
    .mainimage {
        float:none;
        margin:20px auto;
        width:50%;
    }
    .mainimage img {
        width:100%;
    }
}
@media screen and (max-width: 570px) {
    .divbar {
        display:flex;
        height: 110px;
        align-items:center;
        justify-content:center;
    }
    #recipe-sections {
        flex-direction:column;
    }
    .mainimage, #social-divider {
        width:70%;
    }
    #user-rating, #rowland-rating {
        display:block;
        margin-right:0;
    }
}
@media screen and (max-width: 434px) {
    /*GENERAL PAGES*/
    .imgright {
        width:90%;
    }
    .imgright img {
        width:90%;
    }
    #recipe-search {
        display:block;
        margin-bottom:5px;
    }
    .mainimage, #social-divider {
        width:90%;
    }
    /*AUTHOR PAGE*/
    .profile {
        width:90%;
    }
    .profile img {
        width:90%;
    }
}
