/*UNIVERSAL FORMATTING*/

body	{
color:#000000;
}
h2, h3	{
color:#0a14d6;
}
div.title	{
background-color:#008000;
padding: 10px;
margin-bottom:10px;
border-radius: 6px 6px 6px 6px;
}
div.right	{
margin:0px 0px 0px 0px;
}
div.main	{
padding: 0px 0px 0px 0px;
margin:0px 0px 0px 0px;
border-radius: 6px 6px 6px 6px;
}
div.container	{
margin: 0px 120px 35px 0px;
border-radius: 20px 20px 20px 20px;
padding: 0px 0px 0px 0px;
}
div.fltright	{
float:right;
vertical-align:top;
text-align:center;
margin: 10px 20px 10px 20px;
padding:10;
}
div.review	{
}
div.fltright p	{
margin:4px 2px 2px 2px;
padding:4px;
border:0.5px solid #3c2a1e;
border-radius: 20px 20px 20px 20px;
background-color:#fefecc;
color: #3c2a1e;
font-size:0.85em;
}

/*REVIEW POSTS*/

div.reviewbox	{
overflow:hidden;
border-style: ridge;
border-radius: 20px 20px 20px 20px;
margin: 10px 50px 40px 50px;
padding: 10px 10px 10px 10px
}

/*REVIEWS HOME*/

div.homecontent	{
background-image: url(/assets/backgrounds/rainbow1.jpeg);
overflow:hidden;
border-radius: 20px 20px 20px 20px;
margin: 10px 50px 10px 50px;
padding: 10px 10px 10px 10px;
border-style: ridge;
border-color: #000000;
background-size: 100% 100%;
font-size: 1.1em;
}
ul.introbar {
margin:10px 0px 0px 0px;
padding:0px;
list-style:none;
height:33px;
}
ul.introbar li {
float: left;
}
#facebook{margin:0px 10px 2px 00px;}#insta {margin:0px 10px 3px 0px;}#twitter{margin:2px 10px 0px 0px;}

/*REVIEW LISTINGS*/

div.overview	{
overflow:hidden;
display: inline-block;
width:400px;
height:240px;
border-style: ridge;
border-color: #000000;
border-radius: 20px 20px 20px 20px;
margin: 0px 0px 50px 50px;
}
div.smallcont	{
height:120px;
overflow:hidden;
}
div.smallimg	{
float:right;
vertical-align:top;
text-align:center;
margin: 3px 0px 0px 0px;
padding:10;
}
div.smallimg img	{
border-style: ridge;
border-radius: 20px 20px 20px 20px;
}
div.minititle	{
width:45%;
height:95px;
border-style: ridge;
border-radius: 20px 20px 20px 20px;
padding: 3px 8px 3px 8px;
margin: 13px 10px 3px 8px;
}
div.miniinfo	{
border-style: ridge;
border-radius: 20px 20px 20px 20px;
padding: 0px 8px 0px 8px;
margin: 15px 8px 0px 8px;
}
div.minititle a	{
text-decoration: none;
}
div.minititle a:hover	{
}

/*FOR PLYMOUTH REVIEW ONLY*/

ul.anchor li	{
margin: 0.5em;
font-size: 0.85em;
list-style-image: url(/assets/logos/anchor.png);
}
