
/*FONTS AND FORMATTING*/

@font-face {
      font-family: pencilpete; /* CAN BE ANYTHING YOU WANT */
      src: url("/assets/fonts/Pencilpetefont-844B.otf");
}

@font-face {
      font-family: sara;
      src: url("/assets/fonts/SaraScribbles.ttf");
} 
 
@font-face {
      font-family: chalk;
      src: url("/assets/fonts/Chalk Board.ttf");
}
@font-face {
      font-family: tuck;
      src: url("/assets/fonts/TuckShop-Regular.otf");
}
      
@font-face {
font-family: 'Trebuchet_Internal';
src: url("/assets/fonts/Trebuchet_MS_Bold_Italic.ttf");
font-style: italic;
font-style: bold;
}
@font-face {
font-family: 'Trebuchet_Internal';
src: url("/assets/fonts/Trebuchet_MS_Bold.ttf");
font-style: bold;
}
@font-face {
font-family: 'Trebuchet_Internal';
src:url("/assets/fonts/Trebuchet_MS_Italic.ttf");
font-style: italic;
}
@font-face {
font-family: 'Trebuchet_Internal';
src:url("/assets/fonts/Trebuchet_MS.ttf");
}

head,body {
font-family: Trebuchet_Internal;
font-size: 95%;
line-height: 115%
}
h1, h2 {
margin: 0px;
border:0px;
padding: 5px 0px 10px 0px;
line-height: 90%;
}
h3 {
margin: 0px;
border:0px;
padding: 0 0 10px 0;
}
img {
border: none; 
vertical-align: middle;
}
hr {
clear:both;
}

ul {
      text-decoration: none;
      list-style: none;
      margin:0;
      padding:0;
}

/*BANNERS*/

/*top banners*/
div.title {
overflow:auto;
border-radius: 6px;
}
div.title_bann {
text-align: left;
}
div.banner {
margin:5px 0 0 0;
text-align: right;
float:right;
}

/*right banner*/

div.right {
float:right;
vertical-align:top;
text-align:right;
width:120px;
margin:10px 0 0 0;
}

/*MENU*/

/*navigation*/
#menu-main {
      display:flex;
      text-align:center;
      align-items:center stretch; 
      margin: 0;
      padding: 6px 0;
      padding-left:5px;
	background-color: #008000;
      border-radius: 6px;
      justify-content: space-between;
}
#menu-bar li img{
      margin: 2px 5px;
}
#menu-bar li.no-divline{
     margin-right: 11px;
}
#menu-bar li {
      display: inline-block;
}

/*login section*/
#log-info {
display:flex;
flex-flow:column;
text-align:right;
align-items:top;
margin-right:10px;
padding: 0;
min-width: 70px;
}
#log-info p {
margin:1px 0;
font-size:110%;
font-weight: bold;
}
#log-info a {
text-decoration: none;
}
#log-info a:hover {
color: #FF0000;
text-decoration: none;
}
.logname {
color: #800000;
}

